<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Админка</title>
    <link rel="stylesheet" href="./css/bootstrap.min.css">
</head>

<body>
<nav class="navbar navbar-dark navbar-expand-md bg-dark">
    <div class="container-fluid"><a class="navbar-brand" href="#"
                                    th:utext="${'Привет, '+#authentication.name+'. Твои права: '+#authentication.authorities}">Привет,
        юзер</a>
        <button class="navbar-toggler" data-bs-toggle="collapse"><span
                class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <a class="btn btn-dark" role="button" href="./logout">Выйти</a></div>
</nav>
<div class="row">
    <div class="col" style="max-width: 20%;">
        <ul class="nav nav-pills flex-column">
            <li class="nav-item"><a class="nav-link active" href="#">Админка</a></li>
            <li class="nav-item"><a class="nav-link" href="/user">Моя инфа</a></li>
        </ul>
    </div>
    <div class="col">
        <div class="container" style="max-width: 100%;">
            <h3 class="text-dark mb-4" style="margin-top: 24px;">Админка</h3>
            <div>
                <ul class="nav nav-tabs" role="tablist">
                    <li class="nav-item" role="presentation"><a class="nav-link active" role="tab" id="tabUserTrigger" data-bs-toggle="tab"
                                                                href="#tab-1">Все юзеры</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" role="tab" data-bs-toggle="tab"
                                                                href="#tab-2">Новый юзер</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" role="tabpanel" id="tab-1">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Список пользователей</p>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive table mt-2" id="dataTable-1" role="grid"
                                     aria-describedby="dataTable_info">
                                    <table class="table table-striped my-0" id="dataTable">
                                        <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Имя</th>
                                            <th>Фамилия</th>
                                            <th>Логин</th>
                                            <th>Возраст</th>
                                            <th>Права</th>
                                            <th>Изменить</th>
                                            <th>Удалить</th>
                                        </tr>
                                        </thead>
                                        <tbody>
<!--                                        //refreshTable()-->
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" role="tabpanel" id="tab-2">
                        <div class="card shadow">
                            <div class="card-header py-3">
                                <p class="text-primary m-0 fw-bold">Создать нового пользователя</p>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col"></div>
                                    <div class="col">
                                        <div class="text-center">
                                            <form th:action="@{/admin/add}" th:method="post">
                                                <div class="form-group"><label class="form-label" for="name">Имя</label><input
                                                        class="form-control" type="text" id="name"
                                                        required=""></div>
                                                <div class="form-group"><label class="form-label"
                                                                               for="surname">Фамилия</label><input
                                                        class="form-control" type="text"
                                                        id="surname" required=""></div>
                                                <div class="form-group"><label class="form-label"
                                                                               for="age">Возраст</label><input
                                                        class="form-control" type="number" id="age"
                                                        max="100" min="0" required=""></div>
                                                <div class="form-group"><label class="form-label"
                                                                               for="login">Логин</label><input
                                                        class="form-control" type="text"
                                                        id="login" required=""></div>
                                                <div class="form-group"><label class="form-label" for="pass">Пароль</label><input
                                                        class="form-control" type="password"
                                                        id="pass" required=""></div>
                                                <div class="form-group"><label class="form-label"
                                                                               for="roles">Права</label><select
                                                        class="form-select" id="roles">
                                                </select>
                                                    <hr>
                                                    <button class="btn btn-success btn-lg" type="submit"
                                                            id="createUserForm">Создать
                                                    </button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    <div class="col"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-edit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" th:method="patch">
                <div class="modal-header">
                    <h4 class="modal-title">Редактирование юзера</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <input type="hidden" id="editId" value="...">
                        <div class="form-group"><label class="form-label" for="editName">Имя</label><input
                                class="form-control" id="editName" value="..." type="text">
                        </div>
                        <div class="form-group"><label class="form-label" for="editSurname">Фамилия</label><input
                                class="form-control" id="editSurname" value="..." type="text">
                        </div>
                        <div class="form-group"><label class="form-label" for="editNumber">Возраст</label><input
                                class="form-control" id="editNumber" value="..." type="number">
                        </div>
                        <div class="form-group"><label class="form-label" for="editLogin">Логин</label><input
                                class="form-control" id="editLogin" value="..." type="text"
                        ></div>
                        <div class="form-group"><label class="form-label" for="editPass">Пароль</label><input
                                class="form-control" id="editPass" type="password"></div>
                        <div class="form-group"><label class="form-label" for="editRoles">Права</label><select
                                id="editRoles" class="form-select">
                        </select></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Отмена</button>
                    <button class="btn btn-primary" type="submit" id="editUserForm">Сохранить</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" role="dialog" tabindex="-1" id="modal-delete">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="#" th:method="delete">
                <div class="modal-header">
                    <h4 class="modal-title">Удаление юзера</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="text-center">
                        <input type="hidden" id="deleteId" value="...">
                        <div class="form-group"><label class="form-label" for="deleteName">Имя</label><input
                                class="form-control" value="..." type="text"
                                id="deleteName" disabled=""></div>
                        <div class="form-group"><label class="form-label" for="deleteSurname">Фамилия</label><input
                                class="form-control" value="..." type="text"
                                id="deleteSurname" disabled=""></div>
                        <div class="form-group"><label class="form-label" for="deleteNumber">Возраст</label><input
                                class="form-control" id="deleteNumber" value="..." type="number" disabled="">
                        </div>
                        <div class="form-group"><label class="form-label" for="deleteLogin">Логин</label><input
                                class="form-control" id="deleteLogin" value="..." type="text" disabled=""
                                ></div>
                        <div class="form-group"><label class="form-label" for="deletePass">Пароль</label><input
                                class="form-control" id="deletePass" value="..." type="password" disabled=""></div>
                        <div class="form-group"><label class="form-label" for="deleteRoles">Права</label><select
                                id="deleteRoles" class="form-select" disabled="">
                        </select></div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-light" type="button" data-bs-dismiss="modal">Отмена</button>
                    <button class="btn btn-danger" type="submit" id="deleteUserForm">Удалить!</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="./js/bootstrap.bundle.min.js"></script>
<script src="./js/jquery-3.6.0.min.js"></script>
<script src="./js/main.js"></script>
<script>
    $('document').ready(function () {
        refreshTable();
    });
</script>
</body>

</html>